<div class="container">
  <h1>Become a Member:</h1>
  <p>Enter the secret passcode:</p>
    <div class="input-label" Login>
    <form method="POST" action="">
      <div class="form-floating mb-3">
        <input
          class="form-control"
          id="passcode"
          name="passcode"
          placeholder="secret"
          value=""
        />
        <label for="passcode">Secret Passcode:</label>
      </div>
    </div>
</div>